body {background-color black;}
#container {
    background-color: purple;
    width: 50%;
    margin: auto;
    text-align: center; 
    border-block-start-style: double;
    border-block-start-color: yellow;
    font color: white;